@import "core/variables";
@import "core/reset";
@import "components/header";
@import "components/section-1";
@import "components/section-2";
@import "components/footer";

//MEDIA QUERIES
@media all and (max-width: 320px) {
  .principal-column {
    margin-left: 15px;
    margin-right: 15px;
  }
  .section-2{
    height: 624px;
    padding-left: 15px;
    padding-right: 15px;
    h4, p{
      font-size: 18px;
      line-height: 1.67;
    }
    .title-section-2 {
      font-size: 24px;
      line-height: 1.25;
      color: black;
      padding-top: 30px;
      margin-bottom: 45px;
    }
    .reasons{
      grid-template-rows: repeat(3, 1fr);
      .reason-1 {
        grid-column: span 3;
        grid-row: 1 / 2;  
      }
      .reason-2 {
        grid-column: span 3;
        grid-row: 2 / 3;
      }
      .reason-3 {
        grid-column: span 3;
        grid-row: 3 / 4;
      }
    }
    .button-reasons {
      width: 184px;
      height: 45px;
      margin-top: 45px;
      a{
        color:white;
        padding: 10px 30px;
      }
    }
  }
}

//   .end-container {
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-around;
//     padding-top: 60px;
//     padding-bottom: 45px;
//   }
// }

@media all and (max-width: 768px) {
  .principal-column {
    margin: 0 39px;
  }
  .header {
    .hero {
      max-width: 700px;
      h1 {
        font-size: 80px;
        line-height: 1.33;
      }
    }
  }
  .section-1 {
    max-width: 690px;
    height: 330px;
    p:first-child {
      font-size: 14px;
      line-height: 2.14;
      margin-top: 30px;
    }
    h2 {
      font-size: 26px;
      line-height: 1.73;
    }
    p {
      font-size: 20px;
      line-height: 1.5;
    }
    .go {
      width: 91px;
    }
  }
  .section-2 {
    height: 397px;
    padding-left: 85px;
    padding-right: 85px;
    h4 {
      font-size: 26px;
      line-height: 1.25;
    }
    .title-section-2 {
      font-size: 26px;
      line-height: 1.73;
      padding-top: 30x;
      margin-bottom: 45px;
    }
  } 
}
