
@import "core/variables";
@import "core/reset";
@import "components/header";
@import "components/section-1";
@import "components/section-2";
@import "components/footer";

//MEDIA QUERIES
@media all and (max-width: 320px) {
  .principal-column {
    margin-left: 15px;
    margin-right: 15px;
  }
  .grid-section {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
  }

  .title-section-2 {
    grid-column: span 5;
    text-align: center;
  }
  .reason-1 {
    grid-column: span 5;
    grid-row: 2 / 3;
  }
  .reason-2 {
    grid-column: span 5;
    grid-row: 3 / 4;
  }
  .reason-3 {
    grid-column: span 5;
    grid-row: 4 / 5;
  }
  .button-reasons {
    grid-column: span 5;
    grid-row: 5 / 6;
    text-align: center;
  }

  .end-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

@media all and (max-width: 768px) {
  .principal-column {
    margin-left: 39px;
    margin-right: 39px;
  }
}

// se borrará

.main {
  border: 5px solid yellow;
}

.section-2 {
  border: 5px solid orange;
}

.tittle-section-2 {
  border: 5px solid chocolate;
}

.reason-1 {
  border: 5px solid violet;
}

.reason-2 {
  border: 5px solid yellowgreen;
}

.reason-3 {
  border: 5px solid black;
}

.button-reasons {
  border: 5px solid grey;
}

.footer {
  border: 5px solid purple;
}

.nav-menu {
  border: 5px solid peru;
}
.social-media {
  border: 5px solid indigo;
}