<footer class="footer">
  <a class="arrow-up" href="#beginning" title="Up">
    <img src="./assets/images/ico-arrow.svg" alt="Up" />
  </a>
  <div class="end-container">
    <div class="copy">
      <p>&copy; 2020</p>
      <p>we <span>❤︎</span> components</p>
    </div>
    <nav class="nav-menu">
      <ul class="nav-list">
        <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Go to Articles">Articles</a></li>
        <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Go to Books">Books</a></li>
        <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Go to Events">Events</a></li>
        <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Go to Reasons">Reasons</a></li>
        <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Go to Tips">Tips</a></li>
      </ul>
    </nav>
    <ul class="social-media">
      <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Visit our Twitter profile">Twitter</a></li>
      <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Visit our Instagram profile">Instagram</a></li>
      <li><a class="link-menu" href="https://adalab.es/" target="blank" title="Visit our Mastodon profile">Mastodon.social</a></li>
    </ul>
  </div>
</footer>
