<footer class="footer">
    <a class="arrow-up" href="#beginning">
      <img src="./assets/images/ico-arrow.svg" alt="" />
    </a>
    <div class="end-container">
      <div class="copy">
        <p>&copy; 2020 </p>
        <p>we <span>❤︎</span>  components</p> 
      </div>
      <nav class="nav-menu">
        <ul class="nav-list">
          <li> <a href="https://adalab.es/" target="blank">Articles</a> </li>
          <li> <a href="https://adalab.es/" target="blank">Books</a></li>
          <li> <a href="https://adalab.es/" target="blank">Events</a> </li>
          <li> <a href="https://adalab.es/" target="blank">Reasons</a> </li>
          <li> <a href="https://adalab.es/" target="blank">Tips</a> </li>
        </ul>
      </nav>
      <ul class="social-media">
        <li> <a href="https://adalab.es/" target="blank">Twitter</a> </li>
        <li> <a href="https://adalab.es/" target="blank">Instagram</a> </li>
        <li> <a href="https://adalab.es/" target="blank">Mastodon.social</a> </li>
      </ul>
    </div> 
  </footer>