<section id="sect-2" class="section-2">
  <h3 class="title-section-2">@@title-section-2</h3>
  <div class="reason">
    <h4 class="title-reason">Ut sed metus</h4>
    <p class="p-reason">Lorem ipsum dolor sit amet, consecteur.</p>
  </div>
  <div class="reason">
    <h4 class="title-reason">Curabitur ac erat</h4>
    <p class="p-reason">Mauris mattis urna quis lorem molestie.</p>
  </div>
  <div class="reason">
    <h4 class="title-reason">Morbi dictum</h4>
    <p class="p-reason">Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <div class="button-reasons">
    <a class="link-reasons" href="#" target="blank" title="Click here to know more reasons"> More reasons</a>
  </div>
</section>
