<section id="sect-2" class="section-2">
    <div class="grid-section">
      <h3 class="title-section-2">@@title-section-2</h3>
      <div class="reason-1">
        <h4>Ut sed metus</h4>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div class="reason-2">
        <h4>Curabitur ac erat</h4>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="reason-3">
        <h4>Morbi dictum</h4>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <a class="button-reasons" href="#"> More reasons</a>
    </div>
  </section>