<section id="sect-2" class="section-2">
  <h3 class="title-section-2">@@title-section-2</h3>
  <div class="reason">
    <h4>Ut sed metus</h4>
    <p>Lorem ipsum dolor sit amet, consecteur.</p>
  </div>
  <div class="reason">
    <h4>Curabitur ac erat</h4>
    <p>Mauris mattis urna quis lorem molestie.</p>
  </div>
  <div class="reason">
    <h4>Morbi dictum</h4>
    <p>Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <div class="button-reasons">
    <a href="#" target="blank"> More reasons</a>
  </div>
</section>
