<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anonimous Proxy</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="menu">
        <img src="./assets/images/ico-menu.svg" alt="Menu" />
      </div>
      <div class="hero principal-column">
        <h1>Anonymous Proxy</h1>
        <p>In hac habitasse platea dictumst.</p>
        <div class="scroll-down">
          <img src="./assets/images/ico-scroll-down.svg " alt="Bajar" />
        </div>
      </div>
    </header>
    <main class="main">
      <section class="section-1 principal-column">
        <p>Insomnia Tips</p>
        <h2>Looking Through A Window</h2>
        <p>
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <a class="go" href="#">Go</a>
      </section>
      <section class="section-2">
        <div class="grid-section">
          <h3 class="title-section-2">3 Reasons to purchase</h3>
          <div class="reason-1">
            <h4>Ut sed metus</h4>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
          <div class="reason-2">
            <h4>Curabitur ac erat</h4>
            <p>Mauris mattis urna quis lorem molestie.</p>
          </div>
          <div class="reason-3">
            <h4>Morbi dictum</h4>
            <p>Aliquam in dolor et dolor tincidunt.</p>
          </div>
          <a class="button-reasons" href="#"> More reasons</a>
        </div>

        <div class="arrow-up">
          <img src="./assets/images/ico-arrow.svg" alt="" />
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="copy">
        <p>&copy; 2020 </p>
        <p>we ❤︎ components</p> 
      </div>
      <nav class="nav-menu">
        <ul class="nav-list">
          <li> <a href="#">Articles</a> </li>
          <li> <a href="#">Books</a></li>
          <li> <a href="#">Events</a> </li>
          <li> <a href="#">Reasons</a> </li>
          <li> <a href="#">Tips</a> </li>
        </ul>
      </nav>
      <ul class="social-media">
        <li> <a href="#">Twitter</a> </li>
        <li> <a href="#"> Instagram</a> </li>
        <li> <a href="#">Mastodon.social</a> </li>
      </ul>
    </footer>

    <!-- <div class="page">
      <partial src="_header.html" title="Bienvenidos a Adalab"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_footer.html"></partial>
    </div> -->
  </body>
</html>
