//FOOTER
.footer{
  background-color: $backgroundFooter;
  height: 240px;
  position: relative;
  .arrow-up{
      width: 45px;
      height: 45px;
      border-radius: 22.5px;
      background-color: $colorPrimary;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -22.5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .end-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-family: $fontMain;
    font-size: 14px;
    line-height: 2.14;
    color: white;
    padding-bottom: 45px;
    padding-top: 45px;
    span{
      color: $colorTertiary;
    }
    .nav-menu, .social-media{
      font-family: $fontMain;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: normal;
      text-transform: $textUppercase;
      .link-menu{
        color: $colorPrimary;
      }
    }
  }

