//SECTION-2

.grid-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .title-section-2 {
    grid-column: span 5;
    text-align: center;
  }
  .reason-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .reason-2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .reason-3 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .button-reasons {
    grid-column: span 5;
    text-align: center;
  }