// fonts
$fontMain: "Roboto";
$fontMinor: "Roboto Slab";

// colors
$colorPrimary: white;
$colorSecondary: black;
$colorTertiary: #f26002; 

// text-transform
$textUppercase: uppercase;

//backgrounds
$backgroundSection: #eff9ff;
$backgroundFooter: #304268;
